In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime, timedelta

fifa21_data = pd.read_csv("C:\\Users\\canbe\\OneDrive\\Masaüstü\\codes\\fifa\\fifa21 raw data v2.csv")
fifa21_data.head()

C:\Users\canbe\AppData\Local\Temp\ipykernel_14652\1604603146.py:8: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa21_data = pd.read_csv("C:\\Users\\canbe\\OneDrive\\Masaüstü\\codes\\fifa\\fifa21 raw data v2.csv")

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [15]:
fifa21_data['Club'] = fifa21_data['Club'].str.strip() ##Get rid of whitespace in Club column
fifa21_data.rename(columns = {'↓OVA': 'Overall','IR': 'InternationalReputation'}, inplace = True) ##Rename some columns
fifa21_data.drop(columns=['photoUrl', 'playerUrl'], inplace=True) ##Drop unnecessary columns
fifa21_data.head()

,ID,Name,LongName,Nationality,Age,Overall,POT,Club,Contract,Positions,...,A/W,D/W,InternationalReputation,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595

In [16]:
fifa21_data['Hits'] = pd.to_numeric(fifa21_data['Hits'], errors='coerce') ##Convert Hits column to numeric
fifa21_data.isnull().sum()

ID                0
Name              0
LongName          0
Nationality       0
Age               0
               ...
PAS               0
DRI               0
DEF               0
PHY               0
Hits           2623
Length: 75, dtype: int64

In [17]:
fifa21_data['Hits'] = fifa21_data['Hits'].fillna(fifa21_data['Hits'].median())
fifa21_data.isnull().sum()

ID             0
Name           0
LongName       0
Nationality    0
Age            0
              ..
PAS            0
DRI            0
DEF            0
PHY            0
Hits           0
Length: 75, dtype: int64

In [18]:
fifa21_data['Height'].unique()
fifa21_data['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [19]:
def feet_inches_to_cm(height_str):
    if '"' in height_str:
        height_ft_in = height_str.split('\'')
        feet = int(height_ft_in[0])
        inches = int(height_ft_in[1].replace('"', ''))
        return (feet * 12 + inches) * 2.54
    else:
        return float(height_str.replace('cm', ''))

# Convert 'Height' to centimeters
fifa21_data['Height'] = fifa21_data['Height'].apply(feet_inches_to_cm)
fifa21_data['Height'] = fifa21_data['Height'].round().astype(int)
fifa21_data['Height'].unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 201,
       158, 162, 161, 160, 203, 157, 156, 202, 159, 206, 155])

In [20]:
def convert_weight(weight_str):
    if 'lbs' in weight_str:
        return float(weight_str.replace('lbs', '')) * 0.453592
    elif 'kg' in weight_str:
        return float(weight_str.replace('kg', ''))
    else:
        return None

# Apply the conversion to kilograms
fifa21_data['Weight'] = fifa21_data['Weight'].apply(convert_weight)
fifa21_data['Weight'] = fifa21_data['Weight'].round().astype(int)
fifa21_data['Weight'].unique()

array([ 72,  83,  87,  70,  68,  80,  71,  91,  73,  85,  92,  69,  84,
        96,  81,  82,  75,  86,  89,  74,  76,  64,  78,  90,  66,  60,
        94,  79,  67,  65,  59,  61,  93,  88,  97,  77,  62,  63,  95,
       100,  58,  98, 103,  99, 102,  56, 101,  57,  55, 104, 107, 110,
        53,  50,  54,  52])

In [21]:
# Convert 'Joined' column to datetime
fifa21_data['Joined'] = pd.to_datetime(fifa21_data['Joined'], format='%b %d, %Y', errors='coerce')

# Extract year, month, and day into separate columns
fifa21_data['Year_Joined'] = fifa21_data['Joined'].dt.year
fifa21_data['Month_Joined'] = fifa21_data['Joined'].dt.month
fifa21_data['Day_Joined'] = fifa21_data['Joined'].dt.day

# Display the new columns to verify the transformation
fifa21_data[['Joined', 'Year_Joined', 'Month_Joined', 'Day_Joined']].head()

      Joined  Year_Joined  Month_Joined  Day_Joined
0 2004-07-01         2004             7           1
1 2018-07-10         2018             7          10
2 2014-07-16         2014             7          16
3 2015-08-30         2015             8          30
4 2017-08-03         2017             8           3

In [22]:
# Function to convert the 'Value', 'Wage', and 'Release Clause' columns to integer values
def currency_str_to_int(currency_str):
    if pd.isnull(currency_str):
        return None
    if 'M' in currency_str:
        return int(float(currency_str.replace('€', '').replace('M', '')) * 1e6)
    elif 'K' in currency_str:
        return int(float(currency_str.replace('€', '').replace('K', '')) * 1e3)
    else:
        return int(currency_str.replace('€', ''))

# Apply the conversion to the 'Value', 'Wage', and 'Release Clause' columns
fifa21_data['Value'] = fifa21_data['Value'].apply(currency_str_to_int)
fifa21_data['Wage'] = fifa21_data['Wage'].apply(currency_str_to_int)
fifa21_data['Release Clause'] = fifa21_data['Release Clause'].apply(currency_str_to_int)
fifa21_data[['Value', 'Wage', 'Release Clause']].head()

       Value    Wage  Release Clause
0  103500000  560000       138400000
1   63000000  220000        75900000
2  120000000  125000       159400000
3  129000000  370000       161000000
4  132000000  270000       166500000

In [23]:
fifa21_data['Contract'].head()

0    2004 ~ 2021
1    2018 ~ 2022
2    2014 ~ 2023
3    2015 ~ 2023
4    2017 ~ 2022
Name: Contract, dtype: object

In [24]:
import re

# Function to extract year from contract string
def extract_year(contract_str):
    if pd.isnull(contract_str):
        return None
    # Find all four consecutive digits which likely represent the year
    years = re.findall(r'\b\d{4}\b', contract_str)
    # If two years are found, return them as start and end, otherwise return None
    return years if len(years) == 2 else [None, None]

# Apply the function to each row in the 'Contract' column
fifa21_data['Contract_Years'] = fifa21_data['Contract'].apply(extract_year)

# Split the list of years into 'Contract Start' and 'Contract End' if available
fifa21_data['Contract Start'] = fifa21_data['Contract_Years'].apply(lambda x: x[0] if x else None)
fifa21_data['Contract End'] = fifa21_data['Contract_Years'].apply(lambda x: x[1] if x else None)

# Drop the intermediate 'Contract_Years' column as it's no longer needed
fifa21_data.drop('Contract_Years', axis=1, inplace=True)

# Display the updated dataframe to verify the results
fifa21_data[['Contract', 'Contract Start', 'Contract End']].head()

      Contract Contract Start Contract End
0  2004 ~ 2021           2004         2021
1  2018 ~ 2022           2018         2022
2  2014 ~ 2023           2014         2023
3  2015 ~ 2023           2015         2023
4  2017 ~ 2022           2017         2022

In [26]:
fifa21_data.to_csv('C:\\Users\\canbe\\OneDrive\\Masaüstü\\codes\\fifa\\cleaned.csv', index=False)